@import '../../styles/ColorList.scss';
@import '../../styles/Font-Mixins.scss';
@import '../../app/globals.scss';

.form {
  &[data-size='S'] {
    width: 303px;
    height: 76px;
    @media (max-width: 303px) {
      width: 100%;
    }
  }

  &[data-size='L'] {
    width: 400px;
    height: 84px;
    @media (max-width: 400px) {
      width: 100%;
    }
  }
}

.input {
  width: 100%;
  padding: 14px 20px;
  border: 1px solid $Grayscale-200;
  &:hover,
  &:active,
  &:focus {
    border: 2px solid $Grayscale-300;
  }
  &[data-size='L'] {
    height: 48px;
    border-radius: 16px;

    &::placeholder {
      @include font-settings(16, regular, 26);
      text-align: left;
      color: $Grayscale-300;
    }
  }

  &[data-size='S'] {
    height: 42px;
    border-radius: 12px;

    &::placeholder {
      @include font-settings(14, regular, 24);
      text-align: left;
      color: $Grayscale-300;
    }
  }
}
.inputname {
  margin-bottom: 10px;
  width: fit-content;
  &[data-size='L'] {
    height: 26px;
    @include font-settings(16, medium, 26);
    text-align: left;
    color: $Grayscale-400;
  }
  &[data-size='S'] {
    height: 24px;
    @include font-settings(14, regular, 24);
    text-align: left;
    color: $Grayscale-400;
  }
}
