@import '../../styles/ColorList.scss';
@import '../../styles/Font-Mixins.scss';
@import '../../app/globals.scss';

.review-card {
  padding: 24px 40px 30px 40px;
  border-radius: 16px;
  background-color: $Grayscale-50;
  border: 1px solid $Grayscale-200;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;

  position: relative;

  .soohyun-dropdown {
    position: absolute;
    top: 76px;
    right: 40px;
  }

  @include mobile {
    background-color: rgb(255, 240, 232);
    padding: 16px 20px;
    gap: 17px;

    .review-header .rating-container {
      height: 32px;

      .rating {
        @include font-settings(14, bold, 24);
        width: 60px;
        height: 100%;
      }

      .time {
        @include font-settings(14, regular, 24);
      }
    }

    .review-header .options {
      font-size: 24px;
    }

    .options {
      font-size: 26px;
      color: $Grayscale-300;
      cursor: pointer;
    }
  }

  .review-body {
    .title {
      @include font-settings(16, medium, 26);
      color: $Grayscale-300;
      margin-bottom: 10px;
    }

    .description {
      @include font-settings(16, regular, 26);
      color: $Grayscale-400;
      line-height: 26px;
    }

    .review-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .rating-container {
        display: flex;
        align-items: center;
        height: 42px;

        .rating {
          @include font-settings(18, bold, 26);
          color: $Primary-Purple-100;
          background-color: #f3e8ff;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 80px;
          height: 100%;
          border-radius: 12px;
          margin-right: 15px;
        }
      }

      .rating-container {
        display: flex;
        align-items: center;
        height: 42px;

        .rating {
          @include font-settings(18, bold, 26);
          color: $Primary-Purple-100;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 80px;
          height: 100%;
          border-radius: 12px;
          margin-right: 15px;
        }
      }

      .time {
        @include font-settings(16, regular, 26);
        color: $Grayscale-300;
      }

      .options {
        font-size: 26px;
        color: $Grayscale-300;
        cursor: pointer;
      }
    }

    .options {
      font-size: 26px;
      color: $Grayscale-300;
      cursor: pointer;
    }
  }

  .review-body {
    .title {
      @include font-settings(16, medium, 26);
      color: $Grayscale-300;
      margin-bottom: 10px;
    }

    .description {
      @include font-settings(16, regular, 26);
      color: $Grayscale-400;
      line-height: 26px;
    }
  }

  .review-body {
    .title {
      @include font-settings(16, medium, 26);
      color: $Grayscale-300;
      margin-bottom: 10px;
    }

    .description {
      @include font-settings(16, regular, 26);
      color: $Grayscale-400;
      line-height: 26px;
    }
  }

  @include mobile {
    background-color: rgb(255, 240, 232);
    padding: 16px 20px;
    gap: 17px;

    .review-header .rating-container {
      height: 32px;

      .rating {
        @include font-settings(14, bold, 24);
        width: 60px;
        height: 100%;
      }

      .time {
        @include font-settings(14, regular, 24);
      }
    }

    .review-header .options {
      font-size: 24px;
    }

    .review-body .title {
      @include font-settings(14, medium, 24);
    }

    .review-body .description {
      @include font-settings(14, regular, 24);
      line-height: 24px;
    }
  }
}