@import "../../styles/ColorList.scss";
@import "../../styles/Font-Mixins.scss";
@import "../../app/globals.scss";

.allContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 233px;
    background-color: aliceblue;

    .allSubContainer {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .allStartContainer {}

        .allButton {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        Button {
            width: 100px;
            height: 40px;
            font-size: 14px;

            &:hover {
                background-color: $Primary-Purple-200;
            }
        }
    }

    .allRatingBars {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 8px;
    }

    @include tablet {
        height: 180px;
        background-color: rgb(167, 203, 235);

        .allRatingBars {
            display: flex;
            justify-content: space-between;
            width: 100%;

            .allStartContainer {}

            .allButton {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            Button {
                width: 80px;
                height: 35px;
                font-size: 12px;

                &:hover {
                    background-color: $Primary-Purple-200;
                }
            }
        }

        .allRatingBars {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 6px;
        }
    }


    @include mobile {
        height: 233px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: rgb(73, 171, 250);

        .allSubContainer {
            display: flex;
            justify-content: space-between;
            width: 100%;

            .allButton {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            Button {
                width: 100px;
                height: 40px;
                font-size: 14px;

                &:hover {
                    background-color: $Primary-Purple-200;
                }
            }
        }

        .allRatingBars {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 8px;
        }
    }
}