.search-bar-container {
  position: relative;
}

.search-bar-icon {
  position: absolute;
  background-color: transparent;
  border: none;
  top: 12px;
  left: 15px;
  cursor: pointer;
}

.input-search {
  width: 400px;
  height: 48px;
  border-radius: 50px;
  padding: 14px 0px 14px 60px;
  background-color: #ffffff;
  border: 1px solid #cfdbea;
  font: 400 16px/24px Pretendard;

  &::placeholder {
    font: 400 16px/19.09px Pretendard;
    color: #9facbd;
  }

  &:focus {
    outline: none;
  }
}
