@import '@/app/globals.scss';
@import '@/styles/Font-Mixins.scss';

.search-bar-container {
  position: relative;
}

.search-bar-icon {
  position: absolute;
  background-color: transparent;
  border: none;
  top: 11px;
  left: 15px;
  cursor: pointer;
}

.input-search {
  width: 800px;
  height: 48px;
  border-radius: 50px;
  padding: 14px 0px 14px 60px;
  background-color: $White;
  border: 1px solid $Grayscale-200;
  @include font-settings(16, 'regular', 26);

  &::placeholder {
    @include font-settings(16, 'regular', 26);
    color: $Grayscale-300;
  }

  &:focus {
    outline: none;
  }
}
