@import '@/app/globals.scss';
@import '@/styles/Font-Mixins.scss';

.image-upload-title {
  @include font-settings(16, 'medium', 26);
  margin-bottom: 16px;
}

.image-upload {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $Grayscale-200;
  border-radius: 16px;
  width: 140px;
  height: 140px;
  cursor: pointer;

  &:hover {
    border-color: $Grayscale-300;
  }

  .uploaded-image {
    border-radius: 8px;
    position: relative;
    width: 100%;
    height: 100%;
  }
}
