@import '@/styles/ColorList.scss';
@import '@/styles/Font-Mixins.scss';
@import '@/app/globals.scss';

.card {
  position: relative;
  border: 1px solid $Grayscale-200;
  background: white;
  border-radius: 16px;
  width: 100%;
  margin-top: 20px;
  display: flex;

  .soohyun-dropdown {
    position: absolute;
    top: 76px;
    right: 40px;
  }

  // Large Size
  @include desktop {
    width: 800px;
    height: 228px;

    .options {
      position: absolute;
      top: 30px;
      right: 40px;
      font-size: 26px;
      color: $Grayscale-300;
      cursor: pointer;
    }

    .card-image {
      margin: -44px 40px 0px 60px;
      width: 76px;
      height: 270px;
    }

    .wine {
      width: 187px;
      height: 127.5px;
      margin-top: 20px;
      margin-bottom: 16.5px;

      .wine-name {
        margin-bottom: 15px;
        width: 100%;
        height: 48px;
        @include font-settings(20, semibold, 24);
        color: $Grayscale-400;
      }

      .wine-desc {
        margin-bottom: 4.5px;
        width: 100%;
        height: 24px;
        @include font-settings(14, regular, 24);
        color: $Grayscale-300;
      }

      .wine-price {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 37px;
        padding: 8px 15px;
        border-radius: 12px;
        background: $Primary-Purple-10;
        color: $Primary-Purple-100;
        @include font-settings(14, bold, 24);
        text-align: center;
      }
    }
  }

  // Medium Size
  @include tablet {
    width: 704px;
    height: 228px;

    .options {
      position: absolute;
      top: 30px;
      right: 40px;
      font-size: 26px;
      color: $Grayscale-300;
      cursor: pointer;
    }

    .card-image {
      margin: -44px 40px 0px 60px;
      width: 76px;
      height: 270px;
    }

    .wine {
      width: 400px;
      height: 168px;
      margin-top: 30px;
      margin-bottom: 30px;

      .wine-name {
        margin-bottom: 20px;
        width: 100%;
        height: 72px;
        @include font-settings(30, semibold, 36);
        color: $Grayscale-400;
      }

      .wine-desc {
        margin-bottom: 13px;
        width: 100%;
        height: 26px;
        @include font-settings(16, regular, 26);
        color: $Grayscale-300;
      }

      .wine-price {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 37px;
        padding: 8px 15px;
        border-radius: 12px;
        background: $Primary-Purple-10;
        color: $Primary-Purple-100;
        @include font-settings(18, bold, 26);
        text-align: center;
      }
    }
  }

  // Small Size
  @include mobile {
    width: 343px;
    height: 164px;
    border-radius: 12px;

    .options {
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 24px;
      color: $Grayscale-300;
      cursor: pointer;
    }

    .card-image {
      vertical-align: top;
      margin: -23px 20px 0px 20px;
      width: 53px;
      height: 185px;
    }

    .wine {
      width: 187px;
      height: 127.5px;
      margin-top: 20px;
      margin-bottom: 16.5px;

      .wine-name {
        margin-bottom: 15px;
        width: 100%;
        height: 48px;
        @include font-settings(20, semibold, 24);
        color: $Grayscale-400;
      }

      .wine-desc {
        margin-bottom: 4.5px;
        width: 100%;
        height: 24px;
        @include font-settings(14, regular, 24);
        color: $Grayscale-300;
      }

      .wine-price {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 36px;
        padding: 6px 10px;
        border-radius: 10px;
        background: $Primary-Purple-10;
        color: $Primary-Purple-100;
        @include font-settings(14, bold, 24);
        text-align: center;
      }
    }
  }
}
