@import "../../styles/ColorList.scss";
@import "../../app/globals.scss";

.stars {
    cursor: pointer;
    pointer-events: all;
    margin: 5px auto;

    .star {
        color: $Grayscale-200; // 기본 색상(empty 상태)

        &.filled {
            color: $Primary-Purple-100; // filled 상태 색상
        }
    }
}