@import "../../styles/ColorList.scss";
@import "../../app/globals.scss";

.stars {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    pointer-events: all;
    margin: 5px auto;

    .star {
        cursor: pointer;
    }
}