@import "../../styles/ColorList.scss";
@import "../../styles/Font-Mixins.scss";
@import "../../app/globals.scss";

.card {
    border-radius: 12px;
    background-color: $Grayscale-50;
    display: flex;
    gap: 28px;
    padding: 24px 30px 0 30px;

    &-L {
        width: 232px;
        height: 185px;

        .card-content {
            .rating {
                @include font-settings(36, heavy, 42);
            }

            .stars {
                color: $Primary-Purple-100;
                margin: 5px auto;

                .empty-stars {
                    color: $Grayscale-200;
                }
            }

            .description {
                @include font-settings(12, regular, 18);
                color: $Grayscale-300;
                line-height: 18px;
            }
        }
    }

    &-S {
        width: 193px;
        height: 160px;
        padding: 24px 25px 0 25px;
        gap: 25px;

        .card-content {
            .rating {
                @include font-settings(28, heavy, 32);
            }

            .stars {
                color: $Primary-Purple-100;
                margin: 5px auto;
                font-size: 12px;

                .empty-stars {
                    color: $Grayscale-200;
                }
            }

            .description {
                @include font-settings(10, regular, 18);
                color: $Grayscale-300;
                line-height: 14px;
            }
        }
    }
}