@import '@/styles/Font-Mixins';
@import '@/styles/ColorList';

.button {
  @include font-settings(16, bold, 26);

  //dksgl;g

  width: 400px;
  height: 50px;
  gap: 10px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $Primary-Purple-100;
  color: white;
  border: none;
  cursor: pointer;

  &:hover {
    outline: 1px;
  }
}
