@import '../../styles/Font-Mixins.scss';
// @import '../../styles/ColorList.scss';
@import '../../app/globals.scss';
.aroma-tag-layer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  @include mobile {
    gap: 8px;
  }

  .aroma-tag {
    display: flex;
    align-items: center;
    justify-content: center;
    @include font-settings(16, medium, 26);
    border-radius: 100px;
    padding: 10px 18px;
    border: 1px solid $Grayscale-200;
    @include mobile {
      padding: 6px 10px;
      @include font-settings(14, medium, 26);
    }

    &.on {
      color: $White;
      background-color: $Primary-Purple-100;
      border: 0px;
    }
    &.off {
      color: $Black;
    }
  }
}
