@import '@/app/globals.scss';
@import '@/styles/Font-Mixins.scss';

.wine-types {
  border-bottom: 1px solid $Grayscale-100;
  margin-bottom: 35px;

  .wine-types-title {
    @include font-settings(16, 'semibold', 26);
    color: $Grayscale-400;
  }

  .radio-type {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    margin: 40px 0px;

    span {
      @include font-settings(16, 'medium', 26);
      border: 1px solid $Grayscale-200;
      border-radius: 100px;
      width: 65px;
      height: 42px;
      padding: 10px 18px;
      gap: 10px;
    }
  }

  .radio-type input[type='radio'] {
    display: none; /* 버튼을 완전히 숨김 */
  }

  .radio-type input[type='radio']:checked + span {
    color: $White;
    background-color: $Primary-Purple-100;
  }
}

.price {
  .price-title {
    @include font-settings(20, 'bold', 32);
    margin-bottom: 20px;
  }
}
