@import '@/styles/ColorList.scss';
@import '@/styles/Font-Mixins.scss';
@import '@/app/globals.scss';

.card {
  position: relative;
  border: 1px solid $Grayscale-200;
  background: $White;
  border-radius: 16px;
  //margin-top: 20px;
  //display: flex;
  //flex-direction: column;
  hr {
    border: none;
    box-shadow: none;
    border-top: 1px solid $Grayscale-200;
  }
  // Large Size
  @include desktop {
    width: 800px;
    height: 375px;

    .up-card {
      display: flex;
      width: 100%;
      height: 248px;

      .card-image {
        object-fit: cover;
        margin: 40px 81px 0px 60px;
        width: 60px;
        height: 208px;
      }

      .wine {
        width: 300px;
        height: 174px;
        margin-top: 36.5px;
        margin-bottom: 37.5px;

        .wine-name {
          margin-bottom: 20px;
          width: 100%;
          height: 84px;
          @include font-settings(32, semibold, 42);
          color: $Grayscale-400;
        }

        .wine-desc {
          margin-bottom: 16px;
          width: 100%;
          height: 26px;
          @include font-settings(16, regular, 26);
          color: $Grayscale-300;
        }

        .wine-price {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          height: 42px;
          padding: 8px 15px;
          border-radius: 12px;
          background: $Primary-Purple-10;
          color: $Primary-Purple-100;
          @include font-settings(18, bold, 26);
          text-align: center;
        }
      }
      .start-card {
        position: absolute;
        width: 112px;
        height: 121px;
        gap: 10px;

        flex-direction: column;
        top: 40px;
        right: 50px;
      }
      .right-icon {
        position: absolute;
        top: 185.5px;
        right: 50px;
        width: 36px;
        height: 36px;
      }
    }

    .down-card {
      margin: 19.5px 60px;
      width: 680px;
      height: 88px;
      .review-name {
        @include font-settings(16, semibold, 26);
        color: $Grayscale-400;
      }
      .review-detail {
        width: 100%;
        height: 52px;
        @include font-settings(16, regular, 26);
        color: $Grayscale-300;
      }
    }
  }
  //
  // Medium Size
  @include tablet {
    width: 704px;
    height: 375px;
    .up-card {
      display: flex;
      width: 100%;
      height: 248px;

      .card-image {
        object-fit: cover;
        margin: 40px 47px 0px 40px;
        width: 74px;
        height: 208px;
      }

      .wine {
        width: 300px;
        height: 174px;
        margin-top: 36.5px;
        margin-bottom: 37.5px;

        .wine-name {
          margin-bottom: 20px;
          width: 100%;
          height: 72px;
          @include font-settings(30, semibold, 36);
          color: $Grayscale-400;
        }

        .wine-desc {
          margin-bottom: 14px;
          width: 100%;
          height: 26px;
          @include font-settings(16, regular, 26);
          color: $Grayscale-300;
        }

        .wine-price {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          height: 42px;
          padding: 8px 15px;
          border-radius: 12px;
          background: $Primary-Purple-10;
          color: $Primary-Purple-100;
          @include font-settings(18, bold, 26);
          text-align: center;
        }
      }
      .start-card {
        position: absolute;
        width: 112px;
        height: 121px;
        gap: 10px;

        flex-direction: column;
        top: 40px;
        right: 50px;
      }
      .right-icon {
        position: absolute;
        top: 185.5px;
        right: 50px;
        width: 36px;
        height: 36px;
      }
    }
    .down-card {
      width: 624px;
      height: 88px;
      margin: 19px 40px 20px 40px;
      .review-name {
        @include font-settings(16, semibold, 26);
        color: $Grayscale-400;
      }
      .review-detail {
        width: 100%;
        height: 52px;
        @include font-settings(16, regular, 26);
        color: $Grayscale-300;
      }
    }

    // Small Size
    @include mobile {
      width: 343px;
      height: 360px;
      .up-card {
        display: flex;
        width: 100%;
        height: 242px;

        .card-image {
          object-fit: cover;
          margin: 30px 36px 0px 20px;
          width: 70px;
          height: 212px;
        }

        .wine {
          width: 187px;
          height: 184px;
          margin-top: 30px;
          margin-bottom: 28px;

          .wine-name {
            width: 100%;
            height: 64px;
            @include font-settings(20, semibold, 32);
            color: $Grayscale-400;
          }

          .wine-desc {
            margin-bottom: 8px;
            width: 100%;
            height: 24px;
            @include font-settings(14, regular, 24);
            color: $Grayscale-300;
          }

          .wine-price {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            height: 29px;
            padding: 6px 10px;
            border-radius: 10px;
            background: $Primary-Purple-10;
            color: $Primary-Purple-100;
            @include font-settings(14, bold, 24);
            text-align: center;
          }
        }
        .start-card {
          position: absolute;
          height: 37px;
          width: 156px;
          flex-direction: row;
          top: 177px;
          right: 55px;
        }
        .right-icon {
          position: absolute;
          top: 179.5px;
          right: 19px;
          width: 32px;
          height: 32px;
        }
      }

      .down-card {
        width: 303px;
        height: 104px;
        margin: 7px 20px;
        .review-name {
          @include font-settings(14, semibold, 24);
          color: $Grayscale-400;
        }
        .review-detail {
          width: 100%;
          height: 72px;
          @include font-settings(14, regular, 24);
          color: $Grayscale-300;
        }
      }
    }
  }
}
