@import '@/styles/ColorList.scss';
@import '@/styles/Font-Mixins.scss';

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: $Grayscale-100;
}
