$White: #ffffff;
$Black: #101318;
$Red: #ff3b30;
$Grayscale-50: #ffffff;
$Grayscale-100: #f2f4f8;
$Grayscale-200: #cfdbea;
$Grayscale-300: #9facbd;
$Grayscale-400: #2d3034;
$Primary-Purple-100: #6a42db;
$Primary-Purple-200: #5937b8;
$Primary-Purple-10: #f1edfc;
