@import '@/app/globals.scss';
@import '@/styles/ColorList.scss';
@import '@/styles/Font-Mixins.scss';

.signin-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $White;
  border-radius: 16px;
  border: 1px solid $Grayscale-200;
  padding: 80px 48px;
  box-shadow: 0px 2px 20px 0px #0000000a;
  form {
    width: 100%;
    .signin-header {
      text-align: center;
      margin-bottom: 30px;
    }

    .inputname {
      margin-top: 25px;
    }

    .button {
      margin-top: 56px;
    }
  }
  .fake-pw-finder {
    @include font-settings(14, regular, 24);
    margin-top: 10px;
    color: $Primary-Purple-200;
  }
  .signup-link {
    margin-top: 32px;
    @include font-settings(16, 'regular', 19.09);
    color: $Grayscale-300;

    a {
      color: $Primary-Purple-100;
      text-decoration: underline;
    }
  }

  @include tablet {
  }
}
