@import '@/app/globals.scss';
@import '@/styles/ColorList.scss';
@import '@/styles/Font-Mixins.scss';

.signup-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $White;
  border-radius: 16px;
  border: 1px solid $Grayscale-200;
  padding: 80px 48px;
  box-shadow: 0px 2px 20px 0px #0000000a;

  form {
    width: 100%;
    .signup-header {
      text-align: center;
      margin-bottom: 30px;
    }
    .form {
      margin-bottom: 24px;
    }
    .button {
      margin: 30px 0px 40px 0px;
    }
  }
  .login-link {
    @include font-settings(16, 'regular', 19.09);
    color: $Grayscale-300;

    a {
      color: $Primary-Purple-100;
      text-decoration: underline;
    }
  }
}

.error-message {
  color: $Red;
  font-size: 13px;
  position: relative;
  top: -18px;
}
