@import '@/styles/ColorList.scss';
@import '@/styles/Font-Mixins.scss';

.signup-container {
  display: flex;
  justify-content: center;
  background-color: $White;
  border-radius: 16px;
  border: 1px solid $Grayscale-200;
  padding: 80px 48px;
}

.signup-title {
  text-align: center;
}
