@import '@/styles/ColorList.scss';
@import '@/styles/Font-Mixins.scss';
@import '@/app/globals.scss';

.modal {
  width: 460px;
}

.form {
  margin-bottom: 30px;
}

.image-upload {
  margin-bottom: 25px;
}

.wine-type {
  margin-top: 13px;
  width: 100%;
  padding: 14px 20px;
  border: 1px solid $Grayscale-200;
  border-radius: 16px;
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="%23cfdbea"><polygon points="4,6 8,10 12,6 "/></svg>');
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 30px;
  @include font-settings(16, regular, 26);
  color: $Grayscale-300;
  transition: border-color 0.3s ease;

  &:focus {
    border-color: $Grayscale-300;
    outline: none;
  }

  option {
    padding: 14px 20px;
    font-size: 16px;
  }
}
