@import '@/styles/ColorList.scss';
@import '@/styles/Font-Mixins.scss';
@import '@/app/globals.scss';

.modal {
  width: 460px;
}

.form {
  // margin-bottom: 30px;
}

.image-upload {
  margin-bottom: 25px;
}

.wine-type {
  margin-bottom: 15px;
  margin-left: 10px;
  padding: 10px;
  border: 1px solid $Grayscale-200;
  border-radius: 16px;
  font-size: 14px;
}
