@import '@/styles/ColorList.scss';
@import '@/styles/Font-Mixins.scss';
@import '@/app/globals.scss';

.modal {
  width: 460px;
}

.modal-edit-form {
  margin-bottom: 30px;
}

.image-upload {
  margin-bottom: 25px;
}

.wine-type {
  margin-top: 15px;
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid $Grayscale-200;
  border-radius: 16px;
  font-size: 14px;
  height: 48px;
  background: url('data:image/svg+xml;charset=UTF-8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23cfdbea"%3E%3Cpath d="M7 10l5 5 5-5z"/%3E%3C/svg%3E') no-repeat right 10px center;
  background-size: 35px;
  appearance: none;
  cursor: pointer;
  @include font-settings(15, regular, 26);
  padding-left: 18px;
  color: $Grayscale-300;
}
