@import '@/app/globals.scss';
@import '@/styles/Font-Mixins.scss';

.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  margin: 0 20px;
  margin-bottom: 109px;

  .header {
    margin: 80px 0px 160px 0px;
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
    &.show {
      opacity: 1;
      transform: translateY(0);
    }

    img {
      height: 535px;
    }
  }

  .wine-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
    &.show {
      opacity: 1;
      transform: translateY(0);
    }

    @include tablet {
    }

    @include mobile {
      .recommended-wines {
        background-image: url('../assets/png/sm_02.png');
        background-size: cover;
      }

      .wine-details {
        background-image: url('../assets/png/sm_03.png');
        background-size: cover;
      }

      .reviews {
        background-image: url('../assets/png/sm_04.png');
        background-size: cover;
      }
    }

    .section {
      margin-bottom: 96px;
      width: 100%;
    }
  }

  .button-container {
    .button-more {
      width: 279px;
      height: 50px;
      border-radius: 100px;
      padding: 16px 96px;
      gap: 10px;
      background-color: $Primary-Purple-100;
      @include font-settings(16, bold, 26);
      color: $White;
      white-space: nowrap;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }
}
