@import '@/app/globals.scss';
@import '@/styles/Font-Mixins.scss';

.rating-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;

  .rating-title {
    @include font-settings(20, 'bold', 32);
    margin-bottom: 5px;
  }

  .rating-option {
    padding: 4px 0px;
    display: flex;
    align-items: center;

    input[type='radio'] {
      appearance: none;
      width: 18px;
      height: 18px;
      border: 1px solid $Grayscale-200;
      border-radius: 6px;
      cursor: pointer;
      margin-right: 13px;
      background-color: $Grayscale-100;
    }

    input[type='radio']:checked {
      background-color: $Primary-Purple-100;
      border: 5px solid $Grayscale-100;
      border-radius: 6px;
      box-shadow: 0 0 0 1.6px $Grayscale-200;
    }

    input[type='radio']:checked + span {
      color: $Primary-Purple-100;
    }

    span {
      @include font-settings(16, 'medium', 26);
      color: $Grayscale-400;
    }
  }
}
