.input-search {
  background: url('../assets/search.svg') no-repeat 16.32px center;
  width: 400px;
  height: 48px;
  border-radius: 50px;
  padding: 14px 0px 14px 50px;
  background-color: #ffffff;
  border: 1px solid #cfdbea;
  font: 400 16px/24px Pretendard;
}

.input-search::placeholder {
  font: 400 16px/19.09px Pretendard;
  color: #9facbd;
}

.input-search:focus {
  outline: none;
}
