@import '@/app/globals.scss';
@import '@/styles/ColorList.scss';
@import '@/styles/Font-Mixins.scss';

//각자 페이지에 컨테이너 쓰실거고, 거기에 마진이나 패딩 넣어두실거니까 margin-top만 넣겠습니다.
.gnb {
  margin-top: 40px;
  display: flex;
  background-color: #101318;
  width: 100%;
  top: 20px;
  left: 20px;
  padding: 11px 60px;
  border-radius: 16px;
  justify-content: space-between;
  align-items: center;

  @include tablet {
    margin-top: 30px;
  }

  @include mobile {
    margin-top: 20px;
    padding: 0 20px;
  }

  .logo {
    width: 52px;
    height: auto;
    margin: 17px 0;
  }
  .gnb-right {
    position: relative;
    display: flex;
    gap: 40px;
    .gnb-login {
      color: white;
    }

    .user-image {
      border-radius: 50%;
      border: 1px gray;
      width: 45px;
      height: 45px;
      cursor: pointer;

      @include mobile {
        width: 20px;
        height: 20px;
      }
    }
    .dropdown-container {
      position: absolute;
      right: 0px;
    }
  }
}
