@import "../../styles/ColorList.scss";
@import "../../styles/Font-Mixins.scss";
@import "../../app/globals.scss";

.start-card {
    display: flex;
    width: 218px;
    height: 64px;
    gap: 15px;

    .start-rating {
        width: 86px;
        @include font-settings(54, heavy, 64);
    }

    .start-card-content {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 112px;

        .stars img {
            width: 18px;
            height: 18px;
        }

        .start-review {
            @include font-settings(14, regular, 24);
            color: $Grayscale-300;
            height: 24px;
        }
    }

    @include mobile {
        width: 162px;
        height: 47px;
        gap: 15px;


        .start-rating {
            width: 57px;
            @include font-settings(36, heavy, 42);
        }

        .start-card-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 90px;

            .stars img {
                width: 12px;
                height: 12px;
            }

            .start-review {
                @include font-settings(14, regular, 24);
                color: $Grayscale-300;
                height: 24px;
            }
        }

    }
}